<div class="login-form" ng-controller="LoginCtrl">
	<form name="login" ng-submit="validate(username, password)">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" ng-model="username" placeholder="Username">	
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" ng-model="password" placeholder="Password">		
		</div>
		
		<button type="submit" class="btn btn-default">Login</button>
	</form>
	<p style="color:red">{{error}}</p>
</div>