<div>
	<span><p>
		<ul ng-repeat="workItem in notStartedWorkItems" style="padding:5px 10px; cursor: move;">
			<li ng-model="workItem">
				{{ workItem }}
			<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
			</li>
		</ul>
		Status: {{ status }}
	</p>
	</span>

	<span><p>
		<ul ng-repeat="workItem in workItemsInProgress" style="padding:5px 10px; cursor: move;">
			<li ng-model="workItem">
				{{ workItem }}
			<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
			</li>
		</ul>
		Error: {{ status }}
	</p>
	</span>
	<span><p>
		<ul ng-repeat="workItem in completedWorkItems" style="padding:5px 10px; cursor: move;">
			<li ng-model="workItem">
				{{ workItem }}
			<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
			</li>
		</ul>
		Error: {{ status }}
	</p>
	</span>
</div>